In [ ]:
# 1.0 Data Loading Code Runs At This Point
import pandas as pd

# 1.0.1
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,accuracy_score

# 1.0.2
from pathlib import Path

In [1]:
# 1.0.3 Get data from gdrive:

from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
# 1.1 Path to data folder:

pathToFolder = "/gdrive/MyDrive/bdda1 (1)/bdda1/archive (6)/GOOG.csv"

In [4]:
from pathlib import Path

# Your pathToFolder
pathToFolder = "/gdrive/MyDrive/bdda1 (1)/bdda1/archive (6)/GOOG.csv"

# Construct the full path to the file
path = Path(pathToFolder) / "GOOG.csv"

In [5]:
# 1.11 path + Filename:

path = Path(pathToFolder) / "GOOG.csv"

In [6]:
# 1.2 Display from a cell outputs of multiple commands:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [10]:
import pandas as pd
from pathlib import Path

# Replace this with the correct path to the CSV file
csv_file_path = "/gdrive/MyDrive/bdda1 (1)/bdda1/archive (6)/GOOG.csv"

# Load the data using pandas
X = pd.read_csv(csv_file_path)

In [11]:
# 1.3.1 About data:

X.shape   # (2000, 21)
X.head()

(1258, 8)

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,GOOG,7/30/18,61.400501,61.745800,60.573502,60.987000,60.987000,36998000
1,GOOG,7/31/18,61.000500,61.379398,60.279999,60.862999,60.862999,32894000
2,GOOG,8/1/18,61.400002,61.673500,60.510502,61.000500,61.000500,31344000
3,GOOG,8/2/18,60.294998,61.493999,60.239498,61.307499,61.307499,30626000
4,GOOG,8/3/18,61.480999,61.500000,60.752998,61.185501,61.185501,21792000

In [12]:
# 1.3.2 Data types:
X.dtypes

Name          object
Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [13]:
# 1.2 How many unique values each column has:

for i in X.columns:
  print(i, X[i].nunique())

Name 1
Date 1258
Open 1235
High 1244
Low 1247
Close 1243
Adj Close 1243
Volume 1237

In [14]:
# 1.5 Filter rows with missing values
X.isnull().sum().sum()

0

In [17]:
# Identify the correct target column name
target_column_name = 'High'

# Create the target variable (y) and remove it from the features DataFrame (X)
y = X[target_column_name]
X.drop(columns=[target_column_name], inplace=True)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
# 2.1 Split data into training and validation data, for both features and target:

train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [22]:
# 3.0 A function to model and also to calculate MAE
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
  # 3.1 Instantiate Decision tree regressor
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    # 3.2 Train model
    model.fit(train_X, train_y)
    # 3.3 Make predictions
    preds_val = model.predict(val_X)
    # 3.4 Get error
    mae = mean_absolute_error(val_y, preds_val)
    # 3.5 Return error
    return(mae)

In [24]:
from sklearn.tree import DecisionTreeRegressor

In [26]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

# Load your data using pandas
data = pd.read_csv("/gdrive/MyDrive/bdda1 (1)/bdda1/archive (6)/GOOG.csv")

# Identify features and target variable
features = data.drop(columns=["High"])
target = data["High"]

# Preprocess categorical variables (example using one-hot encoding)
features_encoded = pd.get_dummies(features)

# Split data into training and validation sets
train_X, val_X, train_y, val_y = train_test_split(features_encoded, target, random_state=0)

In [27]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return mae

In [28]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print(f"Max leaf nodes: {max_leaf_nodes} \t\t Mean Absolute Error: {my_mae}")

Max leaf nodes: 5 		 Mean Absolute Error: 5.0780743685334055
Max leaf nodes: 50 		 Mean Absolute Error: 0.9444452916827414
Max leaf nodes: 500 		 Mean Absolute Error: 0.7148952481481484
Max leaf nodes: 5000 		 Mean Absolute Error: 0.715254990476191